<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.zou.fastlibrary">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <application
        tools:replace="android:theme"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar"
        >

        <activity android:name=".ui.WebActivity" />
        <service android:name=".server.LivelyServer"></service>
    </application>
</manifest>
