<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.xinzhu.xuezhibao">
    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.INTERNET"></uses-permission>
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- Optional. Required for location feature -->
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" /> <!-- 用于开启 debug 版本的应用在6.0 系统上 层叠窗口权限 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
    <uses-permission android:name="android.permission.CALL_PHONE"></uses-permission>

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:smallScreens="true"
        android:xlargeScreens="true"></supports-screens>

    <application
        android:name="com.xinzhu.xuezhibao.MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/aboutus_icon_logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/aboutus_icon_logo"
        android:supportsRtl="true"
        android:theme="@style/MyAppTheme"
        tools:replace="android:theme">
        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="YxWBs3f5mKeBcVnpWoiEd9lWOxUN4uqS"></meta-data>

        <activity
            android:name=".view.activity.SplashActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/SplashStyle">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".view.activity.SignActivity"></activity>
        <activity
            android:name=".view.activity.MainActivity"
            android:windowSoftInputMode="stateHidden"></activity>
        <activity android:name=".view.activity.WXSignActivity"></activity>
        <activity android:name=".immodule.view.ConversationListActivity"></activity>
        <activity android:name=".immodule.view.SearchForAddFriendActivity"></activity>
        <activity android:name=".immodule.view.GroupNotFriendActivity"></activity>
        <activity android:name=".immodule.view.ChatActivity"></activity>
        <activity android:name=".immodule.takevideo.CameraActivity"></activity>
        <activity android:name=".immodule.view.BrowserViewPagerActivity" />
        <activity android:name=".view.activity.ForgetPasswordActivity" />
        <activity android:name=".view.activity.UserBaseActivity" />
        <activity android:name=".immodule.view.DownLoadActivity" />
        <activity
            android:name="com.tencent.bugly.beta.ui.BetaActivity"
            android:configChanges="keyboardHidden|orientation|screenSize|locale"
            android:theme="@android:style/Theme.Translucent" />
        <activity android:name=".view.activity.QRActivity" />
        <activity android:name=".view.activity.ArticleDetilsActivity" />
        <activity android:name=".view.activity.AboutUsActivity" />
        <activity android:name=".view.activity.SettingActivity" />
        <activity android:name=".view.activity.HomeListActivity" />
        <activity android:name=".view.activity.TestIntroduceActivity"></activity>
        <activity android:name=".view.activity.HistoryFeedbackActivity" />
        <activity android:name=".view.activity.FeedbackActivity" />
        <activity
            android:name=".view.activity.VideoDetilsActivity"
            android:configChanges="keyboardHidden|orientation|screenSize|locale" />
        <activity android:name=".view.activity.VoiceDetilsActivity" />
        <activity android:name=".view.activity.AllCourseActivity" />
        <activity android:name=".view.activity.SendCommentActivity" />
        <activity android:name=".view.activity.LoginActivity" />
        <activity android:name=".view.activity.TeacherDetailActivity" />
        <activity android:name=".view.activity.EditTaskActivity" />
        <activity android:name=".view.activity.CourseFeedbackActivity" />
        <activity android:name=".view.activity.CourseTaskActivity" />
        <activity
            android:name=".view.activity.EditUserBasicActivity"
            android:windowSoftInputMode="stateVisible" />
        <activity android:name=".view.activity.TrickActivity" />
        <activity android:name=".view.activity.EditAllActivity" />
        <activity android:name=".view.activity.MyTaskActivity" />
        <activity android:name=".view.activity.MyTaskDetailActivity" />
        <activity android:name=".view.activity.MyCollectActivity" />
        <activity android:name=".view.activity.CourseDetailActivity" />
        <activity android:name=".view.activity.TestActivity" />
        <activity android:name=".view.activity.MyVipCentreActivity" />
        <activity android:name=".view.activity.MyOrderActivity" />
        <activity android:name=".view.activity.PointsRuleActivity" />
        <activity android:name=".view.activity.TestBeforeActivity" />
        <activity
            android:name="com.alipay.sdk.app.H5PayActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize"
            android:exported="false"
            android:screenOrientation="behind"
            android:windowSoftInputMode="adjustResize|stateHidden"></activity>
        <activity
            android:name="com.alipay.sdk.app.H5AuthActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:exported="false"
            android:screenOrientation="behind"
            android:windowSoftInputMode="adjustResize|stateHidden"></activity>
        <activity android:name=".view.activity.MyCourseActivity" />
        <activity android:name=".view.activity.GoodsDetailActivity" />
        <activity android:name=".view.activity.OrderDetailActivity" />
        <activity android:name=".view.activity.PointsMallTabActivity" />
        <activity android:name=".view.activity.MyCourseFeedBackActivity" />
        <activity android:name=".view.activity.MyVideoActivity" />
        <activity
            android:name=".immodule.view.JCameraActivity"
            android:configChanges="keyboardHidden|orientation|screenSize|locale" />
        <activity android:name=".view.activity.MyAddressActivity" />
        <activity android:name=".view.activity.AddAddressActivity" />
        <activity android:name=".view.activity.MyFamilyCourseActivity" />
        <activity android:name=".view.activity.MyPointsActivity" />
        <activity android:name=".view.activity.RefundActivity" />
        <activity android:name=".view.activity.PayOrderActivity" />
        <activity android:name=".view.activity.GoodsFeedbackActivity" />
        <activity
            android:name=".wxapi.WXPayEntryActivity"
            android:exported="true"
            android:theme="@style/SplashStyle"></activity>
        <activity android:name=".view.activity.ShareActivity" />
        <activity android:name=".wxapi.WXEntryActivity"
            android:exported="true"
            android:theme="@style/SplashStyle"></activity>
        <activity android:name=".view.activity.VideoListActivity" />
        <activity android:name=".view.activity.MyJobActivity" />
        <activity android:name=".view.activity.PhotoViewActivity" />


        <provider
            android:name="com.xinzhu.xuezhibao.utils.MyFileProvider"
            android:authorities="com.xinzhu.xuezhibao.provider"
            android:exported="false"
            android:grantUriPermissions="true"
            tools:replace="android:authorities">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_path"
                tools:replace="android:resource" />
        </provider>
        <!-- Required SDK核心功能 -->
        <receiver
            android:name="cn.jpush.im.android.helpers.IMReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter android:priority="1000">
                <action android:name="cn.jpush.im.android.action.IM_RESPONSE" />
                <action android:name="cn.jpush.im.android.action.NOTIFICATION_CLICK_PROXY" />

                <category android:name="${applicationId}" />
            </intent-filter>
        </receiver>

    </application>

</manifest>